# CrowdSec Decision Profiles
# These profiles determine what remediation actions to take when threats are detected
# Reference: https://docs.crowdsec.net/docs/next/profiles/intro

# Ban IPs for general attacks (SSH brute force, port scans, etc.)
name: default_ip_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip"
decisions:
 - type: ban
   duration: 4h
# Block immediately, don't evaluate other profiles
on_success: break
---
# Ban IP ranges for distributed attacks
name: default_range_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Range"
decisions:
 - type: ban
   duration: 4h
on_success: break
---
# Stricter bans for AppSec (WAF) violations
name: appsec_ip_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip" && Alert.GetScenario() contains "appsec"
decisions:
 - type: ban
   duration: 12h
on_success: break
---
# HTTP-specific threats - use captcha first for less severe issues
name: http_captcha_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip" && Alert.GetScenario() contains "http" && Alert.GetScenario() !contains "bf" && Alert.GetScenario() !contains "exploit"
decisions:
 - type: captcha
   duration: 2h
# Continue to other profiles in case a ban is also needed
on_success: continue
---
# HTTP brute force and exploits - ban immediately
name: http_ban_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip" && (Alert.GetScenario() contains "bf" || Alert.GetScenario() contains "exploit" || Alert.GetScenario() contains "cve")
decisions:
 - type: ban
   duration: 24h
on_success: break
---
# SSH brute force - longer ban duration
name: ssh_bf_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip" && Alert.GetScenario() contains "ssh"
decisions:
 - type: ban
   duration: 24h
on_success: break
