[Interface]
PrivateKey = {{ wireguard_server_private_key_content.content | b64decode | trim }}
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PostUp = ufw route allow in on wg0 out on eth0
PostUp = iptables -t nat -I POSTROUTING -o eth0 -j MASQUERADE
PostUp = ip6tables -t nat -I POSTROUTING -o eth0 -j MASQUERADE
PostDown = ufw route delete allow in on wg0 out on eth0
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
PostDown = ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ wireguard_client_public_key_gen.stdout }}
AllowedIPs = {{ wireguard_peer1 }}, {{ wireguard_peer1_subnet }}
Endpoint = {{ wireguard_peer_endpoint }}:{{ wireguard_peer_port }}
