[global]
# All of these settings override the defaults
new_user_displayname_suffix = "🐥"

# Any room created with `private_chat` or
#   `trusted_private_chat` presets.
encryption_enabled_by_default_for_room_type = "invite"

# Show all local users in user directory. With this set to false, only
# users in public rooms or those that share a room with the user making
# the search will be shown.
show_all_local_users_in_user_directory = true

# SSO/OIDC Identity Provider configuration
# To disable OIDC, leave tuwunel_oidc_client_id empty in GitHub Secrets

{% if tuwunel_oidc_client_id | default('') | length > 0 %}
[[global.identity_provider]]
name = "PocketID"
brand = "custom"
client_id = "{{ tuwunel_oidc_client_id }}"
client_secret = "{{ tuwunel_oidc_client_secret }}"
issuer_url = "https://id.{{ public_hostname }}/"
callback_url = "https://matrix.{{ public_hostname }}/_matrix/client/unstable/login/sso/callback/{{ tuwunel_oidc_client_id }}"
default = true
discovery = true
scope = ["openid", "profile", "email"]
{% endif %}
