---
# Traefik rules
- name: Configure UFW to allow HTTP/HTTPS
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  with_items:
    - { port: "80", proto: "tcp" }
    - { port: "443", proto: "tcp" }

# Wireguard rules
- name: Configure UFW to allow WireGuard
  community.general.ufw:
    rule: allow
    port: "{{ wireguard_port }}"
    proto: udp
