{# http:
####################
### HTTP Routers ###
####################
  routers: 
    authentik:
      entryPoints:
        - "https"
      rule: "Host(`auth.{{ public_hostname }}`)"
      middlewares:
        - public
        - https-redirectscheme
      tls: {}
      service: authentik
#####################
### HTTP Services ###
#####################
  services:
    authentik:
      loadBalancer:
        servers:
          - url: "http://10.1.15.13:9000"
        passHostHeader: true #}
