---
# Repository and app setup tasks

- name: Check if repo already exists
  ansible.builtin.stat:
    path: "{{ repo_dest }}"
  register: repo_dir

- name: Clone the repository
  ansible.builtin.git:
    repo: "{{ repo_url }}"
    dest: "{{ repo_dest }}"
    version: "{{ repo_version | default('main') }}"
  when:
    - not repo_dir.stat.exists
  become: true
  become_user: "{{ user_name }}"

- name: Create .env file from template
  ansible.builtin.template:
    src: env.j2
    dest: "{{ repo_dest }}/.env"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0600"
  vars:
    authentik_postgresql_name: "{{ authentik_postgresql_name }}"
    authentik_postgresql_password: "{{ authentik_postgresql_password }}"
    authentik_postgresql_user: "{{ authentik_postgresql_user }}"
    authentik_secret_key: "{{ authentik_secret_key }}"
    cf_dns_api_token: "{{ cf_dns_api_token }}"
    cf_zone_api_token: "{{ cf_zone_api_token }}"
    traefik_username: "{{ traefik_username }}"
    traefik_password: "{{ traefik_password }}"
    public_hostname: "{{ public_hostname }}"
    timezone: "{{ timezone | default('UTC') }}"
    baikal_db_root_password: "{{ baikal_db_root_password }}"
    baikal_db_database: "{{ baikal_db_database }}"
    baikal_db_user: "{{ baikal_db_user }}"
    baikal_db_password: "{{ baikal_db_password }}"

# Don't do this in check mode as it makes changes
- name: Run docker compose
  ansible.builtin.command: "docker compose up -d"
  args:
    chdir: "{{ repo_dest }}"
  become: true
  become_user: "{{ user_name }}"
  when: not ansible_check_mode
