---
- name: Copy docker-compose.yml to application directory
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: "{{ repo_dest }}/docker-compose.yml"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0644"

- name: Create .env file from template
  ansible.builtin.template:
    src: env.j2
    dest: "{{ repo_dest }}/.env"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0600"
  vars:
    authentik_postgresql_name: "{{ authentik_postgresql_name }}"
    authentik_postgresql_password: "{{ authentik_postgresql_password }}"
    authentik_postgresql_user: "{{ authentik_postgresql_user }}"
    authentik_secret_key: "{{ authentik_secret_key }}"
    cf_dns_api_token: "{{ cf_dns_api_token }}"
    cf_zone_api_token: "{{ cf_zone_api_token }}"
    traefik_username: "{{ traefik_username }}"
    traefik_password: "{{ traefik_password }}"
    public_hostname: "{{ public_hostname }}"
    timezone: "{{ timezone | default('UTC') }}"

- name: Create application configuration directories
  ansible.builtin.file:
    path: "{{ repo_dest }}/config/{{ item }}"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0755"
  with_items:
    - "gatus_postgres"
    - "gatus"

- name: Copy files to application configuration directories
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ repo_dest }}/config/{{ item.src }}"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: "0644"
  with_items:
    - { dir_name: "gatus", src: "gatus/config.yml"

# Execute docker compose
- name: Execute 'docker compose up -d'
  ansible.builtin.command: "docker compose up -d"
  args:
    chdir: "{{ repo_dest }}"
  become: true
  become_user: "{{ user_name }}"
  when: not ansible_check_mode
