####################################
### Split tasks into logical modules
####################################
---
# Firewall setup
- name: Firewall setup
  ansible.builtin.import_tasks: firewall.yml

# WireGuard VPN setup
- name: WireGuard VPN setup
  ansible.builtin.import_tasks: wireguard.yml

# Docker setup
- name: Docker setup
  ansible.builtin.import_tasks: docker.yml

# Traefik configuration
- name: Traefik configuration
  ansible.builtin.import_tasks: traefik-setup.yml

# Baikal configuration
- name: Baikal setup
  ansible.builtin.import_tasks: baikal-setup.yml

# Application deployment
- name: Application deployment
  ansible.builtin.import_tasks: deploy.yml
