---
# Runs even in check mode
- name: Updates and package installation
  hosts: all
  tags: update
  become: true
  tasks:
    - name: Update apt cache, upgrade system, and install apps
      ansible.builtin.include_role:
        name: update

- name: Configure firewall
  hosts: all
  tags: ufw
  become: true
  tasks:
    - name: Configure UFW firewall rules
      ansible.builtin.include_role:
        name: ufw

- name: Install and configure Wireguard
  hosts: all
  tags: wireguard
  become: true
  tasks:
    - name: Install and configure Wireguard
      ansible.builtin.include_role:
        name: wireguard

- name: Initialize docker and app directory
  hosts: all
  tags: docker
  become: true
  tasks:
    - name: Install docker and create directory
      ansible.builtin.include_role:
        name: docker

- name: Mount NFS shares
  hosts: all
  tags: mounts
  become: true
  tasks:
    - name: Mount NFS shares
      ansible.builtin.include_role:
        name: mounts

- name: Restore from backup if available
  hosts: all
  tags: restore
  become: true
  tasks:
    - name: Restore vps-proxy directory from backup
      ansible.builtin.include_role:
        name: restore

- name: Initialize dependency files and deploy docker compose file
  hosts: all
  tags: deploy
  gather_facts: true
  become: true
  tasks:
    - name: Create docker-compose.yml and .env and deploy
      ansible.builtin.include_role:
        name: deploy
