---
# Runs even in check mode
- name: Updates and package installation
  hosts: all
  tags: update
  become: true
  tasks:
    - name: Update apt cache, upgrade system, and install apps
      ansible.builtin.include_role:
        name: update

- name: Install and configure Wireguard
  hosts: all
  tags: wireguard
  become: true
  tasks:
    - name: Install and configure Wireguard
      ansible.builtin.include_role:
        name: wireguard

- name: Initialize docker and app directory
  hosts: all
  tags: docker
  become: true
  tasks:
    - name: Install docker and create directory
      ansible.builtin.include_role:
        name: docker

- name: Generate Traefik files
  hosts: all
  tags: traefik
  become: true
  tasks:
    - name: Generate Traefik files from templates
      ansible.builtin.include_role:
        name: traefik

- name: Initialize dependency files and deploy docker compose file
  hosts: all
  tags: deploy
  gather_facts: true
  become: true
  tasks:
    - name: Create docker-compose.yml and .env and deploy
      ansible.builtin.include_role:
        name: deploy
