########################
### HTTP Middlewares ###
########################
http:
  middlewares:

    crowdsec-bouncer:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live # stream is more performant but live gives real-time decisions
          crowdsecAppsecEnabled: true # <--- here you can enable appsec waf
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecLapiKeyFile: "/crowdsec-api-key.txt"
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          # We are actively defining all private class IPv4 subnets as trusted IPs. 
          # This is necessary, as we want to trust our Traefik reverse proxy's HTTP headers like X-Forwarded-For and X-Real-IP
          # Those headers typically define the real IP address of our website visitors and threat actors,
          # used by CrowdSec for decision making and banning.
          forwardedHeadersTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
          # These define trusted IPs or IP ranges we consider trustworthy.
          # Those IP addresses or network ranges will not be blocked or banned by CrowdSec.
          # Basically a whitelisting approach.
          clientTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16

    rate-limit-strict:
      rateLimit:
        average: 10      # 10 requests
        period: 1m       # per minute
        burst: 20        # allow burst of 20

    rate-limit-moderate:
      rateLimit:
        average: 100
        period: 1m
        burst: 200

    rate-limit-lenient:
      rateLimit:
        average: 500
        period: 1m
        burst: 1000
    
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    default-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    # Configure OIDC settings in .env file
    oidc-auth:
      plugin:
        traefik-oidc-auth:
          Secret: "${TRAEFIK_OIDC_AUTH_SECRET}"
          Provider:
            Url: "${TRAEFIK_OIDC_PROVIDER_URL}"
            ClientId: "${TRAEFIK_OIDC_CLIENT_ID}"
            ClientSecret: "${TRAEFIK_OIDC_CLIENT_SECRET}"
            UsePkce: true
          Scopes: ["openid", "profile", "email"]

    public:
      chain:
        middlewares:
        - default-headers
        - rate-limit-moderate
        - crowdsec-bouncer

    # Only for apps that don't have native OIDC support
    public-oidc-auth:
      chain:
        middlewares:
        - default-headers
        - rate-limit-moderate
        - oidc-auth
        - crowdsec-bouncer

    http-RFC1918-only:
      ipAllowList:
        sourceRange:
          - "10.0.0.0/8"
          - "192.168.0.0/16"
          - "172.16.0.0/12"
    
    private:
      chain:
        middlewares:
        - http-RFC1918-only
        - default-headers

