########################
### HTTP Middlewares ###
########################
http:
  middlewares:

    rate-limit-strict:
      rateLimit:
        average: 10      # 10 requests
        period: 1m       # per minute
        burst: 20        # allow burst of 20

    rate-limit-moderate:
      rateLimit:
        average: 100
        period: 1m
        burst: 200

    rate-limit-lenient:
      rateLimit:
        average: 500
        period: 1m
        burst: 1000
    
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    default-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    # Configure OIDC settings in .env file
    oidc-auth:
      plugin:
        traefik-oidc-auth:
          Secret: "${TRAEFIK_OIDC_AUTH_SECRET}"
          Provider:
            Url: "${TRAEFIK_OIDC_PROVIDER_URL}"
            ClientId: "${TRAEFIK_OIDC_CLIENT_ID}"
            ClientSecret: "${TRAEFIK_OIDC_CLIENT_SECRET}"
            UsePkce: true
          Scopes: ["openid", "profile", "email"]

    public:
      chain:
        middlewares:
        - default-headers
        - rate-limit-moderate

    public-oidc-auth:
      chain:
        middlewares:
        - default-headers
        - rate-limit-moderate
        - oidc-auth

    http-RFC1918-only:
      ipAllowList:
        sourceRange:
          - "10.0.0.0/8"
          - "192.168.0.0/16"
          - "172.16.0.0/12"
    
    private:
      chain:
        middlewares:
        - http-RFC1918-only
        - default-headers
