storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@gatus_postgres:5432/${POSTGRES_DB}?sslmode=disable"

endpoints:
  - name: Wireguard Tunnel
    group: media
    url: "icmp://192.168.145.2"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: email
        #enabled: false
        description: "healthcheck failed"
        send-on-resolved: true

  - name: Traefik
    group: core
    url: "https://traefik.${PUBLIC_DOMAIN}/"
    interval: 5m
    conditions:
      # BasicAuth returns 401, which means Traefik is up
      # FIXME: Change to 200 when OIDC is set up
      - "[STATUS] == 200"

  - name: Pocket ID
    group: core
    url: "https://id.${PUBLIC_DOMAIN}/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: email
        description: "Pocket ID is DOWN"
        send-on-resolved: true

  - name: IDM Public Access
    group: media
    url: "https://idm.${IDM_DOMAIN}/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: email
        description: "IDM Public Access is DOWN"
        send-on-resolved: true

  - name: Service1 Public Access
    group: media
    url: "https://${LAN_SERVICE1}.${PUBLIC_DOMAIN}/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: email
        description: "Service1 Public Access is DOWN"
        send-on-resolved: true

  - name: Plex
    group: media
    url: "http://10.1.20.25:32400/identity"
    interval: 2m
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 1000"
    alerts:
      - type: email
        #enabled: false
        description: "Plex is DOWN"
        send-on-resolved: true
  # - name: monitoring
  #   group: internal
  #   url: "https://example.org/"
  #   interval: 5m
  #   conditions:
  #     - "[STATUS] == 200"

  # - name: nas
  #   group: internal
  #   url: "https://example.org/"
  #   interval: 5m
  #   conditions:
  #     - "[STATUS] == 200"

  # - name: example-dns-query
  #   url: "8.8.8.8" # Address of the DNS server to use
  #   interval: 5m
  #   dns:
  #     query-name: "example.com"
  #     query-type: "A"
  #   conditions:
  #     - "[BODY] == 93.184.215.14"
  #     - "[DNS_RCODE] == NOERROR"

alerting:
  email:
    from: "${SMTP_FROM}"
    username: "${SMTP_USER}"
    password: "${SMTP_PASSWORD}"
    host: "${SMTP_HOST}"
    port: 587
    to: "${SMTP_TO}"
