storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@gatus_postgres:5432/${POSTGRES_DB}?sslmode=disable"

endpoints:
  - name: Traefik
    group: vps
    url: "https://traefik.${PUBLIC_DOMAIN}/"
    interval: 5m
    conditions:
      - "[STATUS] == 401"  # BasicAuth returns 401, which means Traefik is up

  - name: Pocket ID
    group: vps
    url: "https://auth.${PUBLIC_DOMAIN}/"
    interval: 5m
    conditions:
      - "[STATUS] == 200"

  - name: Plex
    group: homelab
    url: "https://10.1.20.25:32400/web"
    interval: 1m
    conditions:
      - "[STATUS] == 200"

  # - name: monitoring
  #   group: internal
  #   url: "https://example.org/"
  #   interval: 5m
  #   conditions:
  #     - "[STATUS] == 200"

  # - name: nas
  #   group: internal
  #   url: "https://example.org/"
  #   interval: 5m
  #   conditions:
  #     - "[STATUS] == 200"

  # - name: example-dns-query
  #   url: "8.8.8.8" # Address of the DNS server to use
  #   interval: 5m
  #   dns:
  #     query-name: "example.com"
  #     query-type: "A"
  #   conditions:
  #     - "[BODY] == 93.184.215.14"
  #     - "[DNS_RCODE] == NOERROR"

  # - name: icmp-ping
  #   url: "icmp://example.org"
  #   interval: 1m
  #   conditions:
  #     - "[CONNECTED] == true"