name: Docker Compose Tests

on:
  # Allows manual triggering
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - "ansible/roles/deploy/files/docker-compose.yml"
      - ".github/workflows/test-docker.yml"

jobs:
  build-containers:
    name: Test Docker Compose Build
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:28.4.0
        options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Move docker-compose.yml to current directory
        run: |
          mv ansible/roles/deploy/files/docker-compose.yml .

      - name: Remove port 22 mapping from docker-compose.yml
        run: |
          sed -i '/- 22:22/d' docker-compose.yml

      - name: Create dummy .env file
        run: |
          cat > .env << EOF
          PUBLIC_DOMAIN=example.com
          PUID=1000
          PGID=1000
          TZ=America/Chicago
          CF_DNS_API_TOKEN=dummy_token
          CF_ZONE_API_TOKEN=dummy_token
          TRAEFIK_BASIC_AUTH_USERNAME=dummy_user
          TRAEFIK_BASIC_AUTH_PASSWORD=dummy_password
          AUTHENTIK_POSTGRESQL__NAME=authentik
          AUTHENTIK_POSTGRESQL__PASSWORD=dummy_password
          AUTHENTIK_POSTGRESQL__USER=authentik
          AUTHENTIK_SECRET_KEY=dummy_key
          GATUS_POSTGRES_USER=username
          GATUS_POSTGRES_PASSWORD=password
          GATUS_POSTGRES_DB=gatus
          EOF

      - name: Create required config directories and files
        run: |
          mkdir -p config/gatus_postgres
          mkdir -p config/gatus
          cp ansible/roles/deploy/files/gatus/config.yml config/gatus/config.yml

      - name: Create Docker Network
        run: |
          docker network create proxy || true
          docker network create gatus || true

      - name: Build Docker images
        run: |
          docker compose build

      - name: Validate docker-compose.yml
        run: docker compose config

      - name: Run Docker-compose
        run: |
          docker compose up -d
          docker compose ps
          sleep 30

      - name: Stop and remove containers
        run: docker compose down
