name: Ansible Tests

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Ansible version to use"
        required: true
        default: "12.1.0"
        type: string
  pull_request:
    branches: [main]
    paths:
      - "ansible/**"
      - ".github/workflows/test.yml"

jobs:
  ansible:
    name: Ansible Tests with Molecule
    runs-on: ubuntu-latest
    env:
      ANSIBLE_VERSION: ${{ github.event.inputs.version || '12.1.0' }}
      ANSIBLE_FORCE_COLOR: "1"
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - debian-13
    steps:
      - name: Checkouteve
        uses: actions/checkout@v5

      # ---------- Setup tooling ----------
      - name: "Install Python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: "Cache python packages"
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ env.ANSIBLE_VERSION }}-${{ matrix.scenario }}

      - name: "Install Ansible packages"
        shell: bash
        run: |
          python -m pip install ansible==${{ env.ANSIBLE_VERSION }} molecule molecule-docker

      - name: "Print Ansible version"
        run: ansible-playbook --version

      # ---------- Install Ansible Galaxy requirements ----------
      - name: Install Ansible Galaxy requirements
        run: |
          echo "Installing collections from galaxy-requirements.yml..."
          ansible-galaxy collection install -r ansible/galaxy-requirements.yml -p ./collections
          echo "Listing installed collections..."
          ansible-galaxy collection list
          echo "Checking for community.general specifically..."
          ansible-galaxy collection list community.general

      # Create necessary directories first
      - name: Create ansible tmp directory
        run: |
          mkdir -p /tmp/ansible-tmp
          chmod 1777 /tmp/ansible-tmp

      # - name: Force install collections for Molecule
      #   run: |
      #     echo "Installing collections specifically for Molecule..."
      #     ansible-galaxy collection install -r ansible/roles/deploy/molecule/requirements.yml --force
      #     echo "Collections available for Molecule:"
      #     ansible-galaxy collection list
      #     echo "Collection paths:"
      #     find /home/runner -name "community" -type d 2>/dev/null | head -10
      #     echo "ANSIBLE_COLLECTIONS_PATH will be set to:"
      #     echo "/home/runner/.ansible/collections:/usr/share/ansible/collections"

      - name: Molecule test update role
        uses: gofrolist/molecule-action@v2
        with:
          molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible/roles/update
        env:
          ANSIBLE_FORCE_COLOR: "1"
          ANSIBLE_REMOTE_TMP: "/tmp/ansible-tmp"
          ANSIBLE_LOCAL_TEMP: "/tmp/ansible-tmp"
          # FIXME: Can remove variable once fix is found
          # https://github.com/ansible/molecule/pull/4380#issuecomment-3013500908
          ANSIBLE_ROLES_PATH: ${HOME}/.ansible/roles
          # https://github.com/gofrolist/molecule-action/issues/326#issuecomment-2759662513
          ANSIBLE_COLLECTIONS_PATH: "./collections:/home/runner/.ansible/collections:/usr/share/ansible/collections"
          PYTHONUNBUFFERED: "1"

      - name: Molecule test wireguard role
        uses: gofrolist/molecule-action@v2
        with:
          molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible/roles/wireguard
        env:
          ANSIBLE_FORCE_COLOR: "1"
          ANSIBLE_REMOTE_TMP: "/tmp/ansible-tmp"
          ANSIBLE_LOCAL_TEMP: "/tmp/ansible-tmp"
          # FIXME: Can remove variable once fix is found
          # https://github.com/ansible/molecule/pull/4380#issuecomment-3013500908
          ANSIBLE_ROLES_PATH: ${HOME}/.ansible/roles
          # https://github.com/gofrolist/molecule-action/issues/326#issuecomment-2759662513
          ANSIBLE_COLLECTIONS_PATH: "./collections:/home/runner/.ansible/collections:/usr/share/ansible/collections"
          PYTHONUNBUFFERED: "1"

      - name: Molecule test docker role
        uses: gofrolist/molecule-action@v2
        with:
          molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible/roles/docker
        env:
          ANSIBLE_FORCE_COLOR: "1"
          ANSIBLE_REMOTE_TMP: "/tmp/ansible-tmp"
          ANSIBLE_LOCAL_TEMP: "/tmp/ansible-tmp"
          # FIXME: Can remove variable once fix is found
          # https://github.com/ansible/molecule/pull/4380#issuecomment-3013500908
          ANSIBLE_ROLES_PATH: ${HOME}/.ansible/roles
          # https://github.com/gofrolist/molecule-action/issues/326#issuecomment-2759662513
          ANSIBLE_COLLECTIONS_PATH: "./collections:/home/runner/.ansible/collections:/usr/share/ansible/collections"
          PYTHONUNBUFFERED: "1"

      - name: Molecule test traefik role
        uses: gofrolist/molecule-action@v2
        with:
          molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible/roles/traefik
        env:
          ANSIBLE_FORCE_COLOR: "1"
          ANSIBLE_REMOTE_TMP: "/tmp/ansible-tmp"
          ANSIBLE_LOCAL_TEMP: "/tmp/ansible-tmp"
          # FIXME: Can remove variable once fix is found
          # https://github.com/ansible/molecule/pull/4380#issuecomment-3013500908
          ANSIBLE_ROLES_PATH: ${HOME}/.ansible/roles
          # https://github.com/gofrolist/molecule-action/issues/326#issuecomment-2759662513
          ANSIBLE_COLLECTIONS_PATH: "./collections:/home/runner/.ansible/collections:/usr/share/ansible/collections"
          PYTHONUNBUFFERED: "1"

      - name: Molecule test deploy role
        uses: gofrolist/molecule-action@v2
        with:
          molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible/roles/deploy
        env:
          ANSIBLE_FORCE_COLOR: "1"
          ANSIBLE_REMOTE_TMP: "/tmp/ansible-tmp"
          ANSIBLE_LOCAL_TEMP: "/tmp/ansible-tmp"
          # FIXME: Can remove variable once fix is found
          # https://github.com/ansible/molecule/pull/4380#issuecomment-3013500908
          ANSIBLE_ROLES_PATH: ${HOME}/.ansible/roles
          # https://github.com/gofrolist/molecule-action/issues/326#issuecomment-2759662513
          ANSIBLE_COLLECTIONS_PATH: "./collections:/home/runner/.ansible/collections:/usr/share/ansible/collections"
          PYTHONUNBUFFERED: "1"

  docker-compose:
    name: Docker Compose Validation
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:28.3.3
        options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Create dummy .env file
        run: |
          cat > .env << EOF
          PUBLIC_HOSTNAME=example.com
          PUID=1000
          PGID=1000
          TZ=UTC
          CF_DNS_API_TOKEN=dummy_token
          CF_ZONE_API_TOKEN=dummy_token
          TRAEFIK_BASIC_AUTH_USERNAME=dummy_user
          TRAEFIK_BASIC_AUTH_PASSWORD=dummy_password
          AUTHENTIK_POSTGRESQL__NAME=authentik
          AUTHENTIK_POSTGRESQL__PASSWORD=dummy_password
          AUTHENTIK_POSTGRESQL__USER=authentik
          AUTHENTIK_SECRET_KEY=dummy_key
          EOF
      - name: Validate docker-compose.yml
        run: docker compose config -f ansible/roles/deploy/files/docker-compose.yml
